@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dancing-script-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.text{
    color: rgba(255, 255, 255);
}
.text-light{
    color: rgba(255, 255, 255, 0.5);
}
.bg{
    background-color: rgba(17, 17, 17, 1);
}
.bg2{
    background-color: rgba(230, 83, 60, 1);
}
.bg3{
    background-color: black;
}
body{
    background-color: black;
}
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    color: white;
    padding: 16px 47px;
    font-size: 1.20rem;
    font-weight: 500;
    border-radius: 42px;
    border: none;
}
.btn-secondary{
    background-color: rgba(17, 17, 17, 1);
    color: white;
    margin-left: 20px;
    padding: 16px 47px;
    font-size: 1.20rem;
    font-weight: 500;
    border-radius: 42px;
    border-color: white;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 90px;
}
.section-title{
    font-size: 3rem;
    font-weight: 800;
}
.title2{
    font-size: 1.5rem;
}



/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
}
.nav-links{
    border-radius: 42px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px ;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    padding: 8px 20px;
    border-radius: 42px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner styles */
.banner{
    justify-content: space-between;
}
.banner-content{
    max-width: 600px;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 800;
    font-size: 5rem;
}
.banner-image{
    height: 100%;
}


/* habits section styles */
.habits{
    flex-direction: column;
}
.habit-content{
    text-align: center;
}
.habit-cards{
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 50px;
    text-align: center;
}
.habit-image{
    border-radius: 100px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
}


/* run section styles */
.run{
    border-radius: 18px;
    padding: 40px;
    gap: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
}
.run-content{
    max-width: 450px;
}
.run-image{
    width: 100%;
    border-radius: 18px;
}


/* Packages style section */
.packages{
    flex-direction: column;
    text-align: center;
}
.pkg-cards{
    margin-top: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.pkg-card{
    border-radius: 20px;
    padding: 20px;
}


/* BMI Calculator styles */
.calculator-content{
    text-align: center;
    padding-bottom: 50px;
}
.calc-table{
    margin-bottom: 30px;
}
.calculator{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-around;
}
.calc-form{
    max-width: 580px;
    flex-direction: column;
}
.btn-calc{
    margin: 20px;
}
table{
    border-collapse: collapse;
}
td,th{
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, .1);
    text-align: left;
}


/* team section styles */
.team{
    flex-direction: column;
}
.team-content{
    text-align: center;
    margin-bottom: 30px;
}
.team-cards{
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 30px 0px;
    gap: 0px 30px;
    text-align: center;
    font-size: 20px;    
    border-radius: 18px;
    margin-bottom: 70px;
}
.team-image{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 18px;
}



/* footer section styles */
 .footer{
    justify-content: space-between;
    /* align-items: center; */
    max-width: 1440px;
    margin: 0 auto;
 }
.footer-brand{
    font-size: 4.5rem;
} 
.footer-content{
    max-width: 450px;
} 
.get-started{
    font-size: 32px;
}
.footer-links{
    list-style: none;
}
.footer-description{
    margin-bottom: 50px;
    font-size: 1.2rem;
}
.footer-links>li{
    padding: 10px;
}
.copyright{
    font-size: 20px;
    padding: 30px;
    text-align: center;
}
.hr{
    margin: 0px 200px;
 }


/* small size responsive */
@media screen and (max-width: 576px){
    .nav-links, .nav-item, .nav-link{
        display: none;
    }
    .navbar{
        padding: 20px;
    }
    .banner, .banner-content{
        margin: 10px;
        flex-direction: column;
    }
    .banner-title{
        margin-top: 0px;
        font-weight: 00;
        font-size: 3.5rem;
    }
    .banner-image{
        height: 100%;
        width: 100%;
    }
    .btn-primary{
        margin-left: 0px;
    }
    .btn-secondary{
        margin: 20px;
        margin-left: -0px;
    }
    .habit-cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin-top: 50px;
        text-align: center;
    }
    .run{
        flex-direction: column;
        border-radius: 18px;
        margin: 20px;
        padding: 0px 40px;
        /* gap: 250px; */
        background-color: rgba(255, 255, 255, 0.1);
        /* justify-content: space-between; */
    }
    .run-image{
        width: 100%;
        border-radius: 18px;
        margin-top: -200px;
        margin-bottom: 30px;
    }
    .pkg-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .team-cards{
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 30px 0px;
        gap: 0px 30px;
        text-align: center;
        font-size: 20px;    
        border-radius: 18px;
        margin: 0px 20px 70px;
        padding-bottom: 20px;
    }
    .calculator{
        padding: 20px;
        flex-direction: column;
        max-width: 1440px;
        margin: 0 auto;
        justify-content: space-around;
    }
    .footer{
        padding: 0px 20px;
        flex-direction: column;
        max-width: 1440px;
        margin: 0 auto;
     }
     .get-started{
        flex-direction: column;
     }
     .copyright{
        padding: 20px;
     }
     .hr{
        margin: 0px 20px;
     }
     main > section{
        margin-top: 0px;
    }
}
